

PORT=3000
HOST=localhost


POSTGRES_DB=techDB
POSTGRES_USER=
POSTGRES_PASSWORD=
DB_PORT=

SEED=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

OPEN_AI_KEY=
RESEND_API_KEY=
MAILER_EMAIL=